[2016-02-07 08:34] deepsweet opened #2 "fix README with native english"
:+1:

[2016-02-09 06:40] deepsweet opened #3 "4.0"
- [x] move current CLI to an external package `start-simple-cli` (`node_modules/.bin/start` will remain the same)
- [x] create new `start-babel-cli` that will call `start-simple-cli`after `require('babel-register')` and `require('babel-polyfill')`
  * no more `babel-node` explicit dependency
  * cleaner NPM scripts:

[code]

[code]

[2016-02-10 05:45] #3 closed

[2016-03-20 23:02] wcastand opened #4 "A plugin for start"
Hi,
I don't really know how to put this.
So, i'm sorry if it's the wrong place :/

I develop a plugins for using Stylus with Start
[start-stylus](https://www.npmjs.com/package/start-stylus)
[github](https://github.com/wcastand/start-stylus)
I would love to get your feedback if you discover some bugs or if i do some things wrong :)

Thank and i love Start !!

[2016-03-21 14:50] deepsweet commented on #4
woohoo, first Start plugin made by someone else :+1: thanks for your interest.

It looks good. You can use [rest/spread properties](https://github.com/sebmarkbage/ecmascript-rest-spread) like `const options = { ...userOptions }` instead of `const options = Object.assign({}, userOptions)` because you are already using `stage-2` in your `.babelrc`. Also, you have to `log(file.path)` processed file p

[2016-03-21 14:50] #4 closed

[2016-07-07 14:54] nikolay opened #5 "Is the dead simple task runner literally dead now?"

[2016-07-07 15:12] deepsweet commented on #5
no, just waiting for some feature request or bug report :) `start` works fine for me, but it seems like no one else uses it a lot...

[2016-07-07 18:53] nikolay commented on #5
@deepsweet Which is a pity as it really is how things should be done in 2016!

[2016-07-07 19:04] deepsweet commented on #5
do you have _any_ suggestions or ideas? existing amount of tasks completely meet my personal needs in all projects.

[2016-07-08 09:23] nikolay commented on #5
@deepsweet I think the project needs more awareness and maybe a simple landing page. I will try to promote it wherever I can.

[2016-07-20 07:19] hoanguyen311 opened #6 "Run tasks in parrallel"
Hello Kir,
As I tried, we can not do something like this:

[code]

It's nice if you can make it possible.

[2016-07-22 08:19] deepsweet commented on #6
Hey!

Do you have a real example when it's really needed? Right now you can use it this way:

[code]

I'll take a closer look at your PR soon, thanks for that.

[2016-07-23 08:25] hoanguyen311 commented on #6
It's not really necessary when I saw your solution.
I think the only benefit right now is It make the code cleaner and more simple

Thanks.

[2016-08-25 20:33] #2 closed

[2016-09-08 12:48] eisisig commented on #5
I'm using it and loving the concept. Sexy landing page. Maybe a sample using "tasks" in multiple files etc...

I will promote this when I can as a good "run" tool

[2016-09-08 12:53] eisisig commented on #6
Forwarding arrays to Promise.all might be a good quick solution

[2016-09-08 13:24] deepsweet commented on #5
I slowly move toward the sexy landing page with some kind of "recipes" section along with a list of available tasks. All the tasks were reviewed (and some of them were completely refactored) last month, so I'll be ready to spend some time for the "website" pretty soon.

[2016-09-08 13:27] deepsweet commented on #6
the only thing that stops me from implementing this is an issue with loggers. I mean it will be a mess of messages from different tasks w/o any understandable order...

[2016-09-08 13:42] deepsweet commented on #6
so I'm gonna try something like this as a first step:

before:

[code]

after:

[code]

[2016-12-15 04:36] tunnckoCore commented on #6
That's cool idea and I think [each-promise](https://github.com/tunnckoCore/each-promise) can come in great help here :)

So then `start` will have parallel, serial and concurrency control. :) Just instead of `tasks.reduce` use `eachPromise.each(tasks, options)` where `options` will come from first function call (were currently is `reporter = console.log`).

[2016-12-25 07:34] tunnckoCore opened #23 "Passing arguments to each task"
Hi, `start` is great. Looking on it almost one year. And finally consider to plug it in my flow. It would be the core of my day to day flow.

But I'm thinking for this that I may need in some cases to pass specific things to each task. For example glob patterns for the `start-files` task.

Something like

[code]

But I believe it won't be need only for that task. So I think the `start` CLIs should

[2016-12-25 07:37] tunnckoCore commented on #23
~~Passing just `process.argv` here [simple-cli lib/index.js#L56](https://github.com/start-runner/simple-cli/blob/master/lib/index.js#L56) would be absolutely enough I think.~~

edit: But, actually, no. When rethink, this way will conflict? Because [you can pass each task to other tasks.](https://github.com/start-runner/start-preset/blob/master/lib/index.js#L64)

[2016-12-25 07:47] tunnckoCore commented on #23
Hm. Maybe the another way is if the task returns another function instead of promise (`start()`), then pass argv to it, so

[code]

and in `simple-cli`

[code]

[2016-12-25 09:48] tunnckoCore commented on #23
Also should add check [here](https://github.com/start-runner/start/blob/master/lib/index.js#L3) in `lib/index.js` - kinda `if current is function`.

[2016-12-25 10:39] deepsweet commented on #23
hi! I suck at promoting, so every new active user is really a big event :) thank you.

I like this approach:

[code]

but yeah, need to think more about conflicting with nested runners... well, it's not really a "conflict", but some behavior may be broken.

btw have you seen [this](https://github.com/start-runner/input-connector)? maybe to write some abstract task like that to connect nested runne

[2016-12-25 10:58] deepsweet commented on #6
well, I finally have something. there will be a special tasks wrapper (soon) called `concurrent`, something like this:

[code]

with a simple `Promise.all` under the good. the whole wrapper idea is to hide an implementation details. logger's stuff may be a little messed, because we can't just pass tasks runner name inside (at least because of nested runners), but I think it's not so big deal.

`pa

[2016-12-25 11:53] deepsweet commented on #23
something like this:

[code]

[2016-12-25 12:07] tunnckoCore commented on #23
Haha, no problem.

Yea first approach looks better, but I think second is better and won't have breaking changes to the API (hate aggressive bumping of versions [because greenkeepr] - that's why i commented on the commits of last major version)

edit: btw, while thinking, this "passing arguments" feature will allow to pass multiple tasks too.

[2016-12-25 12:12] deepsweet commented on #23
so, all we need is to update readme in Start itself and bump CLI with a minor version (new functionality to pass args through). that's why I like Start approach so much – with that level of modularity it's possible to do almost anything very accurate w/o breaking every package.

[2016-12-25 13:15] tunnckoCore commented on #6
Yea, it isn't. But in scenario where we have one file in one thread, we still have serial and parallel flows.

`each-promise` helps me a lot and I'm going to use it in upcoming test runner, where some want to run all tests in one file without preserving defined order (hence, parallel), some want to run them in order (because hooks such as beforeEach to work). In context of "tasks" the case is abso

[2016-12-25 13:21] tunnckoCore commented on #23
yea. i kind of dislike semver because of this, haha. but yea.

Yea, love how it looks. And the simplicity of using it (hence, just `npm start: start -p preset` is absolutely cool).

[2016-12-25 18:54] deepsweet commented on #23
* https://github.com/start-runner/simple-cli/releases/tag/v4.1.0
* https://github.com/start-runner/start#pass-arguments-to-tasks-through-cli

👍

[2016-12-25 18:54] #23 closed

[2016-12-26 05:10] tunnckoCore commented on #23
great, but actually don't like it much. idea intentionally was to pass raw process.argv, to allow users to do what they want

[2016-12-27 22:15] laggingreflex opened #24 "Unable to find "tasks.js" file, please check it again"
The tasks file in the docs uses ES6 syntax (import/export), which start-cli is not able to parse natively by default which makes it gives a slightly misleading error: Unable to find "tasks.js" file, please check it again

It should give a more faithful error, like "unable to parse" or something. The docs probably should also use ES5 syntax?

Awesome project btw, just found it and trying it out.

[2016-12-28 11:53] deepsweet commented on #24
thanks for the report and PR, I'll take a look later today and will fix this issue for sure, it's definitely a bug.

glad you like it :)

[2016-12-28 23:42] #24 closed

[2016-12-28 23:49] deepsweet commented on #24
https://github.com/start-runner/simple-cli/releases/tag/v4.1.1

[2016-12-30 09:05] luminarious opened #25 "More generic examples needed"
Hey! I was looking for Gulp alternatives and the pitch for this one is good, it looks very usable as far the API goes. It's currently very JS-centric though, so it would be great to have an example of how I would use this for more general build tasks (with Stylus or Sass to get CSS, Pug or Markdown to get HTML files).

Are this kind of examples planned?

[2016-12-30 09:09] luminarious commented on #25
I'm pretty sure https://github.com/jescalan/accord could be used to simplify the preprocessing part as it already supports a ton of different languages.

[2016-12-30 09:29] deepsweet commented on #25
Hey!

we already have [about 30 tasks](https://www.npmjs.com/browse/keyword/start-task) including [less](https://github.com/start-runner/less), [post-css](https://github.com/start-runner/postcss) and [clean-css](https://github.com/start-runner/clean-css). almost all of them were made by me for my personal needs :) but it's so easy to write a new task (imo much easier than with Gulp) so it's really

[2016-12-31 00:06] tunnckoCore commented on #25
Me too.

@luminarious, i didn't see any more needs and problems when I started digging around `start`. In reality it is possible to combine them, because each task should/may return `file` object or `filepath` to the next task. In case with bundlers is a lil' bit different. That's why I opened https://github.com/tunnckoCore/start-rollup/issues/4  last hours.

I also created https://github.com/tunn

[2016-12-31 00:10] olstenlarck opened #26 "add `module` and `jsnext:main` to all tasks"
For more robust loading and bundling.

edit: I mean, adding `module` and `jsnext:main` fields in the package.json file.

and a bit off-topic: tests are very big need. I don't think simple tests like [this](https://github.com/start-runner/clean/blob/master/test/lib/index.js) are enough. :) See [start-rollup tests](https://github.com/tunnckoCore/start-rollup/blob/master/test.js) for real example of

[2016-12-31 00:13] tunnckoCore commented on #26
Actually, about `module` and `jsnext:main` is/was big discussion here and there. So I just noticed that Rich Harris updated Rollup's wiki pages and it seems `module` is the way to go.

ref: https://github.com/rollup/rollup/wiki/pkg.module

[2016-12-31 14:36] tunnckoCore commented on #26
And in some cases, using rollup would be good.

I can start PRs. Won't be so big deal and hard job. Also i'm stuck because of these transpileings, presets, shits, rollups, webpacks, browserifies and etc. It's soooooo huge, that I can't make good flow. Because in same time I don't want huge devDeps, huge and hard configs, repo root poluted and etc. I want flexibility and believe that `start` could

[2016-12-31 15:07] deepsweet commented on #25
👍  please wait few more days before I'll finally finish tasks refactoring and bumping

seems like I have already seen only "here" but not "there". what is the other link? 😄  thanks for your help 🎉

[2016-12-31 15:19] tunnckoCore commented on #25
i'll try ;d;d can't sleep because the #bundlersHell (haha that hashtag.. huh)

HackerNews, /r/javascript and hashnode.com/n/nodejs

[2016-12-31 15:24] deepsweet commented on #26
I have no real experience with Rollup, but this sounds ok for me. I have just to finish all the current refactorings (it's only 2 or 3 tasks left) and then will look into this.

I can just believe you at this point :)

I know :( if only I have time... I'm a big fan of 100% coverage, and as you can see we already have "something", a primitive stubs just to have at least some tests. all the tasks mu

[2017-01-01 23:44] deepsweet commented on #6
it's better late than never ✨  https://github.com/start-runner/concurrent

[2017-01-01 23:44] #6 closed

[2017-01-02 15:28] deepsweet commented on #26
btw why Start and its tasks may need to be used by bundlers like Rollup? I'm a little afraid of [this](https://github.com/rollup/rollup/wiki/pkg.module#wait-it-just-means-import-and-export--not-other-future-javascript-features):

so we need to put into `build/` same files like we have now but with no `import/export` transpiled?

[2017-01-02 17:11] tunnckoCore commented on #26
I believe we should integrate rollup into all tasks. And config for rollup could be nothing more than that

[code]

and in package.json

[code]

So package would expose both commonjs and es2015 module (which is like what is currently in the repos).

This is most simple config and currently both Rollup and Webpack requires shitty config files in the root when everything and such simple configs coul

[2017-01-04 19:21] deepsweet commented on #25
@luminarious so, do you need tasks for markdown or sass?

[2017-01-05 06:27] luminarious commented on #25
My current projects use mostly Jade and Stylus, so I'd be very happy to try out tasks for these instead :)

[2017-01-14 21:11] tunnckoCore opened #27 "atom / sublime plugins?"
I'm not sure, but yea, just to mark it here. I'm moving to use Atom instead of Sublime, so I'm curious if we can integrate it there.

Something like `ctrl + shift + p` and then `start test` for example.

[2017-01-14 21:16] deepsweet commented on #27
definitely a good idea, but I haven't used Atom for the last 6 months or so :) go ahead if you want to create something like this.

[2017-02-25 21:12] deepsweet commented on #6
got this working with true parallel mode through `child_process.spawn()`:

[code]
also:
* logs for each tasks runner are collected and printed as a batch when runner finished, so no mess in console
* tasks runner arguments like `start-runner build my super args` are supported as well and will be passed to each runner

coming soon. weee.

[2017-02-28 15:30] deepsweet commented on #6
https://github.com/start-runner/parallel

[2017-03-16 11:18] deepsweet opened #29 "next"
Hey. I'm about to introduce next major version relatively soon, with simplified tasks API and better API for tasks runner itself. Some details from future `migration.md`:

## Start

### Repositories

`Start` became a monorepo.

Pros:

* much easier to maintain
* no `start-start-preset`
* no `babel-preset-start`

Cons:

* ???

### Runner

[code]

With this naming our core concept became much more c

[2017-03-16 15:23] tunnckoCore commented on #29
Heya! Just not force the things too fast. You should see what's the community and how big it is. Invest some time to research, because this seems like big change.

I'm agree with the monorepo and probrably with the renaming, since most of the packages are at your accont and this org.

What means "no more presets"? And why "console.log is not the default reporter"? What will be the default reporter

[2017-03-16 15:33] deepsweet commented on #29
It's only about "no start-start-preset", because I just don't need it anymore with monorepo.

Nothing by default? I mean you have to choose something and pass it as an argument to Runner (simple, pretty, whatever), default `console.log` was kinda useless anyway imo.

Actually that's the decision I tend to. Just not to break literally everything with one move. Make a monorepo, make breaking changes

[2017-03-17 01:30] tunnckoCore commented on #29
Agree. Sounds good.

[2017-03-17 04:54] effervescentia commented on #29
Seems like the best option, I also don't know what I would rename `re-start` to, so for that reason alone I'd stick with `start`. Technical changes sound good too

[2017-03-17 09:44] tunnckoCore commented on #29
Forgot to mention that there is also https://github.com/iamvdo/pleeease (edited)

[2017-09-07 08:52] deepsweet commented on #29
alright, just got "start" username (so `@start` scope as well) on NPM 🔥

[2017-09-07 09:03] tunnckoCore commented on #29
Super :tada:

As about the tasks. Are they curried? Like all of these are equivalent

[code]

second variant

[code]

third

[code]

and

[code]

[2017-09-07 09:09] tunnckoCore commented on #29
Looking over the new code: no. But would be good to support it.

[2017-09-07 10:35] tunnckoCore commented on #29
@deepsweet one more thing that may be good to add is, don't sure how to name it, the `Start()` call to return a function. So it may be a bit easier and bit prettier to create tasks. Because i'm using `prettier` it formats to a bit unclear (that's because i also enforce ESLint's  `arrow-body-style` and `prefer-arrow-callback` rules)

the eslint rule config

[code]

for example your `build` task

[c

[2017-09-07 11:04] deepsweet commented on #29
Task internals are kinda not exposed to the user land, that's why I was thinking about to simplify tasks API a bit because it's used only by Start itself. Will post an update here soon, I have a bunch of new ideas since March :)

These arguments are really useful when they available for the entire scope:

[code]

Also it will play very nice with the next version of `start-parallel` plugin:

[code]

[2017-09-07 11:09] tunnckoCore commented on #29
I know :laughing: I wanted them. But in most cases may be not needed.

[2017-09-07 11:33] deepsweet commented on #29
So here is my latest ideas:

## `task()`

[code]

And the report, something like:

[code]

Now Start is aware of plugins list in a named "group" in advance so we can build a really beautiful reporters even with animations. [Ink](https://github.com/vadimdemedes/ink)!

### Nested tasks

[code]

[code]

CLI:

[code]

Report:

[code]

### Parallel

Report is not a mess anymore because it contains plug

[2017-09-07 11:43] tunnckoCore commented on #29
It's not a hack and is enough in most cases. Otherwise you can use `get-fn-name` which is a bit better than `fn-name` by Sindre. Created and exists for reason. So you we can just skip the needless naming. Like

[code]

evenmore, this `plugin` factory should return a function which accepts options. So things would be a more standard and clear

[code]
usage

[code]

where, of course this `(input, op

[2017-09-07 11:50] tunnckoCore commented on #29
Even more clean and beauty may be if we enforce conventions, using the destructuring. The destructuring js feature is just freaking awesome and amazing, exactly because these two things:

- allow teams and projects to enforce conventions
- lowers the arguments number

So probably it will be the best if our signature is

[code]
Haha, and so, no need for currying support :rofl:

[2017-09-07 11:52] deepsweet commented on #29
THIS 🔥

[code]

[2017-09-07 11:56] tunnckoCore commented on #29
Exactly! Exactly this was typing in the editor, because i'm working on 40 lines version :P
 Please don't rush with the new release :D

[2017-09-07 12:33] tunnckoCore commented on #29
What about Start to accept emitter instead of `reporter` function? It will allow better reporting and even if someone think and need: TAP producing reporter ;p

[2017-09-07 14:36] deepsweet commented on #29
💎

[2017-09-07 15:12] tunnckoCore commented on #29
Great! I'll PR with my idea for `next` :) And we can discuss there instead.

[2017-09-07 15:14] deepsweet commented on #29
`next` branch is outdated, please wait until I push the ideas described above :)

[2017-09-07 15:17] tunnckoCore commented on #29
Anyway, it's written from scratch, so i don't need a branch :D I'll create new branch anyway ;] Just to see it in files and not in issue codeblocks. :)

[2017-10-23 15:18] radum commented on #29
@deepsweet Looking fwd for the new changes. Need any help?

I was looking for a module that does pretty much what you are doing before I start building my own. Do you have an ETA or need some help?

[2017-10-23 15:24] deepsweet commented on #29
@radum I'm expecting `start@next` to build itself next week, so all the core utils and few important plugins like `@start/babel` should be ready. depends on which plugins you want, we have something like 30, and I'll migrate them one by one in some special (but still unclear) priority.

[2017-10-23 15:25] deepsweet commented on #29
so far current state is something like [this](https://github.com/start-runner/start/blob/next/tasks/index_next.js) and [this](https://github.com/start-runner/start/tree/next/packages) – not sure that I'm not going to change `@start/plugin` entirely soon.

[2017-10-23 15:38] radum commented on #29
Plugins are not important for me right now. The fact that I can use functions that return a promise as `tasks` and start using async await are the key features. Thank you for your quick reply.

[2017-10-23 16:27] tunnckoCore commented on #29
Hey @deepsweet start's great to hear! Sorry about the promotion, but someone may be interested in [hela](https://github.com/tunnckoCore/hela) too. It's is similar, but takes a bit different path by using just execa and executing the commands, instead of using task's/package's APIs, which requires a lot small boilerplate. You can see `hela-config-tunnckocore` for complete example.

I invest heavily

[2017-11-22 14:56] radum commented on #29
Hey @deepsweet, did you manage to finish this?

I'm quite keen to see how the final Plugin code looks like.

[2017-11-29 13:35] deepsweet commented on #29
😿

[2017-11-29 15:02] radum commented on #29
@deepsweet I would gladly help to port the current plugins. For my own personal use and for my company, the concurrent and parallel plugins are the most important ones.

But before I start we need the final version of the next release :P

[2018-04-15 19:11] deepsweet commented on #5
it's definitely not, see master branch.

[2018-04-15 19:11] #5 closed

[2018-04-15 19:11] deepsweet commented on #26
closed as not relevant anymore, see master branch.

[2018-04-15 19:11] #26 closed

[2018-04-15 19:15] deepsweet commented on #29
see master branch for current state – it's almost stabilized and all known API experiments are completed. I've been waiting for this since forever as well 🙏

there should be `docs/migration.md` at some point.

[2018-04-15 19:15] #29 closed

[2018-04-15 21:50] tunnckoCore commented on #26
Yea, it seems awesome now! Babel + TypeScript. <3

[2018-05-15 15:26] deepsweet commented on #25
I believe it's done.

[2018-05-15 15:26] #25 closed

[2018-05-15 15:27] deepsweet commented on #29
I've just published v0.1.0 of everything.

[2018-05-22 16:02] deepsweet opened #30 "Publish as `.mjs` to work with strict mode of ESM loader"

[2018-06-03 14:44] luii opened #32 "Error on Custom Plugin"
I've created a decompress plugin for start and get this error:
[code]

This is my plugin:

[code]

And this is in the `tasks/index.ts`:

[code]

[2018-06-03 15:04] deepsweet commented on #32
Does `rm -rf node_modules/.cache` help?

@jdalton Could you please take a look? I believe it's related to ESM loader, most likely when it's wired together with Babel. Happens for me from time to time as well, especially when I upgrade the loader, but I never had a chance to have it reproducible and narrowed down. Wiping loader cache always helps.

[2018-06-03 15:11] luii commented on #32
@deepsweet wow, just deleted it and it works like magic :+1:
should i make a PR that you can publish it under "@start"?

[2018-06-03 15:22] deepsweet commented on #32
@luii yes, please make a PR, I'll do the rest of minor tweaking :+1: thanks!

[2018-06-03 15:25] luii commented on #32
I would love to!

[2018-06-03 15:32] jdalton commented on #32
From the run without the plugin to the next run with the plugin was there any other error?
Is `@babel/register`'s cache option changed to anything other than the default `node_modules/.cache/@babel/register`? Are there any other caches at play?

@luii Can you reproduce this error consistently? For example run it without the plugin. Next add the plugin and run it again (does it error?). If it does

[2018-06-03 15:41] luii commented on #32
@jdalton No unfortunatly not. I didnt changed anything, also cloned it fresh and retried the steps i've made. If it happens again i let you know as soon as possible!

[2018-06-03 15:48] #32 closed

[2018-06-03 16:11] jdalton commented on #32
@deepsweet The cache miss on `esm` upgrades makes sense. When `esm` is upgraded it invalidates its old cache (and creates new entries). The babel/register cache still holds on to the old rutnime entries and so it'll result in that runtime error. The problem is babel/register's cache is too aggressive (caching on startup and shutdown). So if I detect an upgrade I can begin to clear their cache but

[2018-06-03 16:17] jdalton commented on #32
I guess I could detect the version change on-startup before Babel runs and just delete their cache without 2 passes.

[2018-06-03 16:20] deepsweet commented on #32
@jdalton no other caches are involved, the only custom thing passed to `@babel/register` is `"extensions": [".ts", ".js"]` to handle TypeScript files.

I have just reproduced a similar issue:

[code]

[code]

I have an idea: because the issue comes up so randomly it must be related to some race. And I have a lot of racing things here: `packs` task runs `pack` task for each argument in a separate c

[2018-06-03 16:23] jdalton commented on #32
`append-transform`? Is there `nyc` code coverage going on too?

[2018-06-03 16:24] deepsweet commented on #32
@jdalton I'm not 100% sure again, but as I recall the upgrade issue doesn't come up every time... if it's detectable from the loader side and you can clean up the cache manually then in my opinion it's totally fine to do so.

There is no `nyc` in the pipeline, and I'm not sure what `append-transform` is 😨

[2018-06-03 16:28] deepsweet commented on #32
Ah, it's related to Istanbul which I'm using totally manually.

[code]

[2018-06-03 16:30] deepsweet commented on #32
I think it's in the stack trace because this time it fails on "coverage" plugin (randomly?). The first thing is the same, `packages/reporter-verbose/src/index.ts:1`.

From time to time I can catch it even without running tests, but after some parallel races for sure.

[2018-06-03 16:33] jdalton commented on #32
Cool!

Okay, I have a couple things to try out.

**Update:**

@deepsweet Where are you caching instanbul's output?

[2018-06-03 16:59] jdalton commented on #32
@deepsweet Where are caching instanbul's output?

[2018-06-03 17:03] deepsweet commented on #32
@jdalton I don't think Istanbul has its own cache, but it uses inline Source Maps which comes from Babel.

[code]

[2018-06-03 17:05] deepsweet commented on #32
At the same time Istanbul itself is using Babel internally to traverse AST and instrument code.

[2018-06-03 17:16] jdalton commented on #32
I have some logic to handle invalidating `esm` caches for `nyc` (`nyc` is the istanbul cli). Not sure how instrumentation works outside of that (in terms of temp folders it creates).

[2018-06-03 17:20] deepsweet commented on #32
@jdalton the only related thing I've found https://github.com/istanbuljs/istanbuljs/blob/60fd29196fa71dead28431bf0a6dbfe916faa607/packages/istanbul-lib-source-maps/lib/source-store.js#L41

[2018-06-03 18:00] jdalton commented on #32
Okay, I'm clearing the babel cache for more things now and invalidating `esm` and babel caches on upgrades. It may not solve everything but it's getting it into a better place.

If there's continued problems with a combo of istanbul and your `start` you might consider clearing caches as part of the istanbul run. The `node_modules/.cache` folder is used by `ava`, `@babel/register`, `esm`, `nyc`, an

[2018-06-03 18:49] jdalton commented on #32
**Update:**

`esm` [v3.0.46](https://github.com/standard-things/esm/releases/tag/3.0.46) is released :tada:

[2018-06-08 07:04] TryHardNinja opened #34 "Basic plugins need"
https://github.com/start-runner/postcss
please add basic plugin for frontend as like postcss, sass, stylus
I will be grateful for the plugin for rollup-buddler
Your project is not very popular due to lack of documentation. But I really like the idea. Very convenient api

[2018-06-08 07:33] deepsweet commented on #34
Hi.

I can do `plugin-lib-postcss` and `plugin-lib-rollup` by myself, not sure about Sass and Stylus though – are they really still in use?

How it would look like in your opinion? Which sections it should have, what should be explained in more details? I'm open for any suggestions and agree that the current state is not as friendly as it could be.

Good to hear :) Please let me know if you have a

[2018-06-08 08:06] TryHardNinja commented on #34
sass, stylus they are not so important. But postcss covers most of the tasks
I will very much wait for postcss. Now I understand that I can not start a project without him

As for the documentation, I'll think about it
I'll try to make examples or find the best options

PS Sorry for my English

[2018-06-10 18:00] deepsweet opened #35 "Add `plugin-lib-postcss`"

[2018-06-10 18:00] deepsweet opened #36 "Add `plugin-lib-rollup`"

[2018-06-10 18:02] deepsweet commented on #34
I've created two separate issues regarding `plugin-lib-postcss` and `plugin-lib-rollup`, both should be done next week:

* https://github.com/deepsweet/start/issues/35
* https://github.com/deepsweet/start/issues/36

[2018-06-12 08:25] fmal opened #37 "Pipe additional data"
@deepsweet wonder what's your opinion on letting the user pass some extra input to the plugins?

Currently we're limited to `files` as input, but I have a case where i would like to measure some file sizes as first step and pass those sizes to another plugin further in the sequence. The sequence looks something like this `[measureFileSizesBeforeBuild, cleanDist, copyAssets, build, printFileSizesAf

[2018-06-12 09:28] deepsweet commented on #37
Sounds like a good idea, I'm going to work on PR so we can try it out first.

Guessing how `sequence` might look:

[code]

[2018-06-12 14:35] TryHardNinja commented on #34
I will wait

[2018-06-13 17:35] deepsweet commented on #37
You can track its progress in #38 – I really enjoyed the idea, it makes a lot of sense now.

[2018-06-13 21:51] fmal commented on #37
@deepsweet looking great, i think it will make start runner more powerful. The same concept is implemented in Cerebral's actions (https://cerebraljs.com/docs/api/index.html#action-props) where action's output extends the payload for later actions in the sequence.

[2018-06-18 20:21] #37 closed

[2018-06-18 20:28] deepsweet commented on #37
Going to publish as soon as it's possible  :) Thanks again for the idea. Could you try it from master?

[2018-06-21 20:31] deepsweet commented on #37
📦 `plugin@0.2.0`

Also every single plugin got updated.

[2018-06-22 11:15] #35 closed

[2018-06-22 11:17] deepsweet commented on #34
I've just published [plugin-lib-postcss](https://github.com/deepsweet/start/tree/master/packages/plugin-lib-postcss) 📦

[2018-06-24 09:41] fmal commented on #37
@deepsweet thanks a lot, great job with that - just how i imagined it! Upgraded to `0.2.0` and love the flexibility it offers 👍

[2018-06-30 17:20] #36 closed

[2018-06-30 17:23] deepsweet commented on #34
[plugin-lib-rollup](https://github.com/deepsweet/start/tree/master/packages/plugin-lib-rollup) 📦

Please do and open a separate issue 🙏

[2018-07-16 11:22] Batarian711 opened #39 "Logo help"
I'm a graphic designer. I design a volunteer logo. I can design it for you.

[2018-07-16 17:09] deepsweet commented on #39
Hi.

I like the current logo but at the same time I'm open for something new :) Do you have any examples or sketches?

[2018-07-17 09:42] simonedavico opened #40 "Wrong plugin type?"
I was going through the [plugin types file](https://github.com/deepsweet/start/blob/master/packages/plugin/src/index.ts) and I was wondering: shouldn't the return type of [the default export](https://github.com/deepsweet/start/blob/master/packages/plugin/src/index.ts#L28) be `StartPlugin` or `StartPluginAsync` instead of `StartPluginSync`?

Since the default export is an *async function expression

[2018-07-17 10:22] deepsweet commented on #40
Hi.

Yeah, I know, it feels a bit messy at the first glance. But:

[code]

`plugin` wrapper itself is sync, it's internal callback is async. Otherwise `plugin` is not callable and should be awaited first before becoming a function.

[2018-07-17 10:29] deepsweet commented on #40
Hm, maybe I'm wrong. Will play with the types and see.

[2018-07-17 10:38] simonedavico commented on #40
Yep, the fact that the internal callback is async is taken care by the fact that `StartPluginFn` can return a `Promise<StartPluginPropsOut>`.

Unless I'm reading typescript wrong (I never actually wrote ts :D) the return type at line 28 refers to the async function declared just after, so it should definitely be `Promise<StartPluginSync>`, or at least `StartPlugin` :) btw, thank you for the quick

[2018-07-17 16:56] Batarian711 commented on #39
I designed two logos in minimalist and icon style to better reflect your progeny. What do you think? Which one do you prefer?

![start](https://user-images.githubusercontent.com/41051393/42832887-531fb928-89fb-11e8-9918-ba43cec479e3.jpg)

[2018-07-17 17:53] #40 closed

[2018-07-17 17:56] deepsweet commented on #40
"Fixed" with renaming "Sync" to "Async" :) The rest is fine – async function is a function that returns a promise, which matches `StartPluginAsync` just fine.

Glad you like it 👌

[2018-07-17 17:59] deepsweet commented on #39
My vision of Start as a task runner is more about a button that starts something. I think that I'm going to stick with the current logo, but thank you very much for your proposal and time 🤝

[2018-07-17 17:59] #39 closed

[2018-07-17 18:00] simonedavico commented on #40
Oh I understand, so it's also possible to define a plugin as a Promise that gets resolved to a `StartPluginAsync` function, right? Much clearer now, thanks!

[2018-07-17 18:08] deepsweet commented on #40
Yeah, there are really "async" plugins, my personal use case is so called "sub-tasks" (I know, I suck at documentation and things like that are almost not documented anywhere):

[code]

In this case `task1()` is a Promise that returns some plugin(s).

[2018-07-22 17:00] bolasblack opened #41 "Start default job when cli executed without any arguments"
Just like gulp 4.x do.

I think it's a good idea, because `yarn start default` looks really weird.

BTW, I discovered start three days ago, then I tried it as soon as I can. It's really cool! I have already used it in my own project!

[2018-07-22 19:53] deepsweet commented on #41
Hi.

Thanks for the idea! It should be pretty easy to implement, I'll do it soon.

❤️

[2018-07-23 09:01] deepsweet commented on #41
What to do with args then? `yarn start arg1 arg2` looks even more weird than `yarn start default arg1 arg2`... Not sure that I want to introduce `-arg1 -arg2` only because of default case. What do you think?

[2018-07-23 09:06] bolasblack commented on #41
Emm... I imagined that we could use `non-argument default task` ( :P ) with `yarn start`, and use `argument default task` with `yarn start default arg1 arg2 ...` at before. What do you think?

[2018-07-23 09:52] deepsweet commented on #41
What's the use case of the default task for you? Feels like I don't fully understand this feature :) If I need something shorter than `yarn start blah` I'd add an NPM script for that `"blah": "yarn start blah"`.

[2018-07-23 10:48] bolasblack commented on #41
It's just a habit, for example, I usually write gulpfile like this:

[code]

I write `package.json` like this:

[code]

Then I can execute `yarn start` to start develop, and execute `yarn start build` to build static assets

[2018-07-23 11:07] deepsweet commented on #41
I see. It just that arguments thing bothers me, I don't really want to introduce a "very special task" without arguments... Will think about this more.

[2018-07-23 11:43] bolasblack commented on #41
I agree, a `very special task` is also not elegant, maybe there is a better way, I will also think about this more.

Anyway, `start` is my new love now, good job!

[2018-07-23 12:01] deepsweet commented on #41
I can't explain how good is to know that someone has really enjoyed Start. In my opinion it's a small niche project so every new user counts.

[2018-09-02 18:39] panjiesw opened #43 "less and ava plugin migration + appreciation"
Hei there,

Just recently found out about this task runner and I'm lovin it so far! It provides simple task based runner and really useful in a monorepo project. I actually prefer NPM scripts over task runner, but for large monorepo project it'll inevitably become tedious to maintain and sync across multiple packages.

Now start, provides ability to orchestrate build stanza right from a root of mo

[2018-09-02 20:03] deepsweet commented on #43
Hi.

Thanks for the kind words. I agree that Start really shines when it comes to monorepo, I've been using it for 6 monorepos of different scales, and the flexibility always keeps me surprised every time I face a need for some functionality I haven't thought initially.

"To be migrated" status is still here for some plugins mostly because it looks like I'm the only active user of Start, so there

[2018-09-02 20:07] deepsweet commented on #41
I still have a Git stash for that :) So far I have no better ideas... Feel free to ping me again.

[2018-09-02 20:07] #41 closed

[2018-09-03 12:12] panjiesw commented on #43
Thanks @deepsweet!

For less plugin, if you could migrate it to the current start, I'm willing to test it because I have some use cases with less stuff right now.

For AVA, currently I'm thinking to create start plugin to just spawn ava's cli using `execa` or something. The cli accepts file/directory/glob patterns to execute test. Maybe something similar to start's [plugin-lib-typescript-generate]

[2018-09-09 16:45] deepsweet commented on #43
Sure.

Sorry, I was a bit busy, will try to migrate Less plugin next week.

[2018-09-10 15:57] panjiesw commented on #43
So after much tinkering I ended up using `lerna run` script in each sub-package for AVA tests. I noticed when dealing with a lot of files (hundreds), which tends to happen if you run from a root monorepo, `start` takes a lot of RAM compared to just running NPM scripts in each package (in parallel, e.g. `lerna run --parallel`).

CMIIW, maybe because by design `start` holds file contents in memory,

[2018-09-10 17:15] deepsweet commented on #43
¯\\_(ツ)_/¯

I can't say much without seeing any numbers. It's not Start holds files content in memory, it's what Babel, ESLint and others wants by design: in order to make AST you have to read and parse file.

The only weak spot of `start-parallel`/`start-xargs` is Node.js lack of normal threads/workers – we have to spawn entire Node.js instance from the ground with all its startup time delays and

[2018-09-10 19:48] panjiesw commented on #43
Unfortunately I can't share the project which I tried `start` on for now.

But, I created a repro at https://github.com/panjiesw/start-playground to simulate what I experienced above :)
Maybe there's something wrong with how I use `start`, so you can inspect it.

From the readme in that repro, on a monorepo with 10 sub-packages, compilation of all sub-packages sources from `.ts` to `.js` using `ba

[2018-09-10 20:15] deepsweet commented on #43
Hm, quite interesting. Thanks for such a detailed response.

I see 2 things:

1. `xargs` + `parallel`. It gives child processes spawning another child processes, which I believe ends up with 20 Node.js instances in total. I can imagine some new plugin for doing "for each argument run these 2 tasks in parallel", maybe `xargs` could receive an array of tasks as first argument.
2. Lerna simply doesn'

[2018-09-10 20:19] deepsweet commented on #43
I can definitely work on `1`, and we should try `2` without Babel register.

[2018-09-10 20:29] panjiesw commented on #43
About the master fix, I already tried it in linked local packages and it's indeed been fixed!

From what I know for case 1: `lerna run --parallel` accepts `--concurrency` options and defaults to 4. I tried to "simulate" it in Start using `maxProcess` arguments in `xargs` and `parallel`. I didn't notice any different tbh. With or without `maxProcess` it's close to above Start result.

Should I try

[2018-09-10 20:37] panjiesw commented on #43
Here is the result without `@babel/register`

[code]

Definitely better and also start faster than before. I've updated the readme in my repro with this result.

[2018-09-10 20:41] deepsweet commented on #43
From what I see `xargs` doesn't limit the amount of parallel processes 🤔 With `maxProcess` set to `1` I see:

[code]

Aaand I found an extremely stupid bug – [I forgot to `await` execa](https://github.com/deepsweet/start/blob/cb2f663eb81ff2c4356e6647bb2ff37b3f8b9f74/packages/plugin-xargs/src/index.ts#L31)! 🙈 Thanks so much for pointing me to there, I really need tests. You can put `yield` on that

[2018-09-10 20:51] panjiesw commented on #43
:laughing: that's a 5 letters bug!

It's a big improvement! The result with `time` doesn't show much, but my RAM usage isn't spiking as high as before, it's on par with the `lerna run`. Notice the CPU usage has gone down to lower percentage as `lerna run`.

[code]

[2018-09-10 20:54] deepsweet commented on #43
Great.

I'll publish everything from master tomorrow including that `xargs` wonderful fix and then will think about how to squash `xargs` and `parallel` together for this case, it really spawns too much.

[2018-09-10 20:57] panjiesw commented on #43
Dropping Node 6 is a good idea, since frankly Start is relatively new (the revived version), so its main target is also somewhat new packages with high possibility of running on Node 8 or higher.

One more possible improvement is providing a less verbose reporter. I suspect the `reporter-verbose` spewing a lot of things to `stdout` is also one of the cause of high resource.

[2018-09-11 10:47] deepsweet commented on #43
That's why it's called "verbose" :) Any suggestions for something like `reporter-pretty`?

[2018-09-14 15:19] panjiesw commented on #43
Not too pretty, but I created a reporter at https://github.com/panjiesw/start-ora-reporter. It's not for performance gain but I do need a reporter which doesn't output all files processed.

[2018-09-14 22:53] deepsweet commented on #43
I'd say that it's pretty enough, would you mind if I add it to readme?

[2018-09-15 07:52] panjiesw commented on #43
It's still rough though. The spinners are overlapping each other. In a task with `watch` plugin, this become more apparent. Maybe `ora` is too low level.

But yea I don't mind.

[2018-10-04 04:45] g-plane opened #44 "Question: differences with gulp"
What're the differences with gulp?

[2018-10-04 13:50] tunnckoCore commented on #44
A whole lot smaller and getting a totally different approach.

And Gulp is "streaming", which in turn is only when you do IO stuff (so, using `.src` and `.pipe` stuff). Other than that, Gulp is nothing more than too much code for simple thing like EventEmitter. Not to mention that the main thing - the streaming, is badly implemented and slow.

[code]

Isn't that similar to

[code]

and test runner

[2018-10-04 20:02] deepsweet commented on #44
In Start everything is a Promise, which is in my opinion much closer to JS ecosystem reality than "everything is a Stream" hackarounds. Plugins are just simple and thin wrappers on top of already existing (in most cases) promise-based APIs, like [fast-glob](https://github.com/mrmlnc/fast-glob). Tasks are just lazy functions with arguments that wraps plugins. It's functional and composable in gener

[2018-10-29 05:02] #44 closed

[2019-02-28 08:44] ViceIce opened #47 "Angular"
How to use angular cli with this project?

[2019-02-28 09:03] deepsweet commented on #47
Hi.

I have literally zero experience with Angular in general and its CLI in particular. Even if it doesn't have a promise based API it's possible to write a Start plugin for it using [`execa`](https://github.com/sindresorhus/execa).

[2019-02-28 09:05] viceice commented on #47
ok, nice tip, i will try execa within start

[2019-02-28 09:45] viceice commented on #47
Can i use [spawn plugin](https://github.com/deepsweet/start/tree/master/packages/plugin-spawn) for calling angular-cli or even a yarn script?

[2019-02-28 11:03] deepsweet commented on #47
Spawn plugin should work just fine.

[2019-02-28 14:09] viceice commented on #47
I have a tsconfig in my project root, is that used by babel or start?

[2019-02-28 14:13] deepsweet commented on #47
It's used only by TypeScript itself, either by `tsc` CLI or by editor integration, such as VSCode.

[2019-02-28 14:15] viceice commented on #47
ok, I've mode the `tasks.t`s to a subfolder with a custom `tsconfig.json`. Do i need babel if i write my task as plain javascript?

[2019-02-28 14:33] deepsweet commented on #47
Babel doesn't use tsconfig or anything related to TS at all to transpile code, so that TS only "validate" codebase and Babel only transpile it.

[2019-03-02 12:38] deepsweet commented on #47
did you manage to run it through spawn plugin?

[2019-03-04 05:19] viceice commented on #47
yes, simply using this:

[code]

[2019-04-01 12:03] #47 closed